body.dark {
    background-color: #121212;
    color: #ffffff;
}

.navbar.dark {
    background-color: #333333;
    border-color: #444444;
}

.footer.dark {
    background-color: #333333;
    color: #bbbbbb;
}

.navbar-dark {
    background-color: #333333 !important;
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #edf7fd !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #cdec1e !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #10b4f5 !important;
}