body.light {
    background-color: #ffffff;
    color: #000000;
}

.navbar.light {
    background-color: #ffffff;
    border-color: #dddddd;
}

.footer.light {
    background-color: #f8f9fa;
    color: #000000;
}
