@page
@model ErrorModel
@{
    ViewData["Title"] = "An Error Occurred";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>We're sorry, something went wrong while processing your request. Please contact the admin if the issue persists.</p>
<p>Here is the error message:</p>

@if (Model.ErrorMessage != null)
{
    <pre class="alert alert-danger text-danger alert-dismissible ">→ @Model.ErrorMessage ←</pre>
}
else
{
    <pre>An error occurred while processing your request.</pre>
}

<p>If the problem continues, please send the error report to the admin at <a href="mailto:ali@asafarim.com">ali@asafarim.com</a>.</p>

<p>
    <a href="/">Go to Home</a> | 
    <a href="javascript:history.back()">Return to Previous Page</a>
</p>
